WINDSCRIBE_USERNAME=        # Insert Windscribe account username here
WINDSCRIBE_PASSWORD=        # Corresponding account password

#Optional
LOCAL_PORT=                 # Local port number to run HTTP proxy on (8888 is default with docker-compose)
WINDSCRIBE_COUNTRY=         # Change VPN server country (Current location as determined by Windscribe is default)
